@font-face
{
    font-family: headerFont;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face
{
    font-family: mainFont;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

body
{
    margin: 0;
}

p 
{
    max-width: 500px;
    font-size:larger;
}

a 
{
    text-decoration: none;
    color: white;
}

.text 
{
    color: black;
    text-decoration: none;
    font-family: mainFont; 
    line-height: 1;
}

.title 
{
    font-family: headerFont;
}

.text_pink
{
    color: rgb(238, 88, 182);
}


/*==================================================
-------------------- header ------------------------
====================================================*/

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.header__nav
{
    display: flex;
    flex-direction: row;
}

.header__nav_ref
{
    margin: 0 10px;
    padding: 15px;
    font-weight: 500;
    color: black;   
}

.header__nav_ref_black 
{
    background-color: black;
    color: white;
    border-radius: 4px;
}


/*==================================================
-------------------- content ------------------------
====================================================*/

.container
{
    width: 80%;
    margin: 0 auto;
}

.content
{
    display: flex;
    justify-content: space-around;
}

.b-top
{
    margin: 0 1vw;
}

.b-top__header
{
    font-size: 5vw;
}

.b-top__button
{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.b-top__picture
{
    width: max-content;
    max-width: 40%;
}

.b-black-line_container
{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.b-black-line
{
    background-color: black;
    padding: 70px 0;
    margin-bottom: 80px;
}

.b-black-line_item_text
{
    color: white;
    width: 300px;
}

@media screen and (max-width: 800px)
{
    .b-black-line_container
    {
        width: 100%;
        flex-direction: column;
        align-content: center;
    }

}

.b-block
{
    width: 80%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-block__img
{
    max-height: 500px;
    max-width: 400px;
}

.b-block__header
{
    font-size: 3vw;
}

@media screen and (max-width: 800px)
{
    .b-block
    {
        flex-direction: column;
    }

}


.b-abilities__container
{
    margin-bottom: 200px;
}

.b-abilities__container
{
    width: 100%;
    text-align: center;
    margin: 200px 0 80px;
}

.b-abilities
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: auto;
    width: 80%;
    margin: 0 auto;
}

.b-abilities__item
{
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
}

.b-abilities__item_text
{
    color: white;
}

@media screen and (max-width: 800px)
{
    .b-abilities
{
        grid-template-columns: 1fr;
    }

}


/*==================================================
-------------------- footer ------------------------
====================================================*/

footer
{
    padding: 25px 0;
    background-color: black;
}

.footer__logo
{
    text-align: center;
    margin: 0;
    color: white;
}
